<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Silicon Search</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/input">Silicon Search</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/input">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br><br>

<div class="container">

<div class="starter-template">

<h2>About Katrina Kutchko</h2>
</div>

<p>I recently finished my PhD in Bioinformatics from the University of North Carolina
at Chapel Hill, with a focus on viral RNAs. I got my undergraduate degree from
Colorado College in Colorado Springs, CO. I'm a Kansas City native. In my free time
I like to learn new things, and lately I've been reading about American history.</p>

<hr>
<p>
Email: <a id="email" href="mailto:kutchko@gmail.com">kutchko@gmail.com</a>
</p>
<p>
Github: <a id="github" href="http://www.github.com/kutchko">kutchko</a>
</p>
<p>
Linkedin: <a id="linkedin" href="http://www.linkedin.com/in/k-kutchko">k-kutchko</a>
</p>



</div> <!-- /.container-->

<p></p>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<script src="static/js/bootstrap.min.js"></script>

  </body>
</html>
